:root{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    border: 1rem solid rgba(0,0,0,.3);

}

*{
    font-family: 'Ysabeau', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;

}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(139, 206, 209);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background-color: beige;
}
section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    color: black;
    text-transform: capitalize;
    padding: 1rem 0;
}
.section-title{
    border-top: 1rem solid cadetblue;
    border-bottom: 1rem solid cadetblue;
    background-color: black;
    color: white;
    padding: 6rem 2rem;
    text-align: center;
    font-size: 5rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.9rem;
    color: white;
    background-color: cadetblue;
    text-transform: capitalize;
    border-radius: .7rem;
    text-align: center;
}
.btn:hover{
    background-color: darkgray;
    color: black;
}
.flex-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;

}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(194, 190, 137);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#menu-btn{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    display: none;

}
.header .flex .logo{
    font-size: 2.5rem;
    color: rgb(3, 3, 3);
}
.header .flex .logo i{
    margin-right: .1rem;
    color: cadetblue;
}
.header .flex .navbar a{
    display: inline-block;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    color: black;
    border-radius: .5rem;
    text-transform: capitalize;

}
.header .flex .navbar a:hover{
    background-color: cadetblue;
    color: white;
}
/*HOME*/
.home-container{
    background: url('images/background.png'), no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
}
.home-container .home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container .home form{
    background-color: beige;
    width: 50rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}
.home-container .home form h3{
    font-size: 2.5rem;
    color: black;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}
.home-container .home form p{
    text-align: left;
    font-size: 1.6rem;
    color: black;
    padding-top: 1rem;
}
.home-container .home form p span{
    color: brown;   
}
.home-container .home form .input{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    background-color: white;
    padding: 1.3rem;
    font-size: 1.8rem;
    color: rgb(54, 52, 52);

}

/*CATEGORY*/
.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 31rem);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}
.category .box-container .box{
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: white;

}
.category .box-container .box i{
    height: 4.5rem;
    width: 5rem;
    line-height: 2rem;
    font-size: 2rem;
    color: black;
    border-radius: .5rem;
    background-color: transparent;
    text-align: center;
}
.category .box-container .box h3{
    font-size: 2rem;
    color: black;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: .5rem;
}
.category .box-container .box span{
    font-size: 1.7rem;
    color: rgb(29, 28, 28);
}
.category .box-container .box:hover{
    background-color: cadetblue;
}
.category .box-container .box:hover h3{
    color: white;
}
.category .box-container .box:hover span{
    color: white;
}
.category .box-container .box:hover i{
    color: white;
}

/*ALL JOBS*/
.job-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.job-container .box-container .box{
    background-color: white;
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
}
.job-container .box-container .box .company{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.job-container .box-container .box .company img{
    height: 8rem;
    width: 6rem;
    object-fit: contain;
}
.job-container .box-container .box .company h3{
    font-size: 1.8rem;
    color: black;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize;
    padding-bottom: .5rem;
}
.job-container .box-container .box .company p{
    color: rgb(77, 77, 77);
    font-size: 1.6rem;
}
.job-container .box-container .box .job-title{
    font-size: 2rem;
    color: cadetblue;
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.job-container .box-container .box .location{
    padding: .5rem 0;
    font-size: 1.6rem;
    color: rgb(81, 80, 80);
}
.job-container .box-container .box .location i{
    margin-right: .3rem;
    color: burlywood;
}
.job-container .box-container .box .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.2rem 0;
}
.job-container .box-container .box .tags p{
    padding: 1.2rem;
    border-radius: .5rem;
    background-color: beige;
    font-size: 1.6rem;
    color: black;
    font-size: 1.4rem;
}
.job-container .box-container .box .tags p i{
    font-size: 2rem;
    margin-right: .5rem;
    color: black;
}
.job-container .box-container .box .bx-heart{
    background-color: transparent;
    border-radius: .5rem;
    color: cadetblue;
    font-size: 1.8rem;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
}
.job-container .box-container .box .bx-heart:hover{
    background-color: cadetblue;
    color: white;
}
.about img{
    width:100%;
    margin-bottom: 1.5rem;
}
.about .box{
    background-color: white;
    border-radius: .5rem;
    border: var(--border);
    padding:3rem 1.7rem;
    box-shadow: var(--box-shadow);
}
.about .box h3{
    font-size: 2.5rem;
    color: black;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.about .box p{
    padding: 1rem;
    line-height: 1.8rem;
    color: black;
    font-size: 1.6rem;
}
/*REVIEW*/
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.review .box-container .box{
    background-color: white;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem ;
}
.review .box-container .box .stars{
    margin-bottom: 1.5rem;
}
.review .box-container .box .stars i{
    color: cadetblue;
    font-size: 1.8rem;
}
.review .box-container .box .title{
    font-size: 2rem;
    color: black;
    text-align: right;
    text-transform: capitalize;
}
.review .box-container .box p{
    text-align: right;
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
}
.review .box-container .box .user{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box .user h3{
    font-size: 2rem;
    color: black;
    margin-bottom: .5rem;
    text-transform: capitalize;
}
.review .box-container .box .user span{
    color: rgb(82, 80, 80);
    font-size: 1.6rem;
}
.job-filter form{
    background-color: white;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem ;
}
.job-filter form .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}
.job-filter form .flex .box{
    flex: 1 1 40rem;
}
.job-filter form .flex .box p{
    font-size: 1.6rem;
    color: black;
}
.job-filter form .flex .box p span{
    color: red;
}
.job-filter form .flex .box .input{
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    color: black;
    margin: 1rem 0;
    background-color: beige;
    font-size: 1.8rem;
}
.job-filter form .dropdown-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.job-filter form .dropdown-container .dropdown{
    flex: 1 1 20rem;
    position: relative;
}
.job-filter form .dropdown-container .dropdown .output{
    width: 100%;
    background: beige;
    border-radius: .5rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: black;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.job-filter form .dropdown-container .dropdown .output:placeholder-shown{
    text-transform: capitalize;
}
.job-filter form .dropdown-container  .dropdown .lists{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow); 
    z-index: 10;
    transform: scaleY(0);
    transform-origin: top;
}
.job-filter form .dropdown-container  .dropdown .lists .items{
    padding: 1.2rem 1.4rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
}
.job-filter form .dropdown-container  .dropdown .lists .items:hover{
    background-color: beige;
}
.job-filter form .dropdown-container  .dropdown .lists:hover,
.job-filter form .dropdown-container  .dropdown:hover .lists,
.job-filter form .dropdown-container  .dropdown .output:focus + .lists,
.job-filter form .dropdown-container  .dropdown .output:focus-within + .lists{
    transform: scaleY(1);
    transition: .2s linear;
} 
.job-details .details{
    background-color: white;
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
}
.job-details .details h3{
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.job-details .details .job-info a{
    display: block;
    font-size: 1.6rem;
    color:rgb(113, 113, 113);
    margin: .5rem 0;

}
.job-details .details .job-info a:hover{
    text-decoration: underline;
}
.job-details .details .job-info p{
    padding: 1rem 0;
    font-size: 1.6rem;
}
.job-details .details .basic-details{
    background-color: beige;
    margin: 1.5rem 0;
    border-radius: .5rem;
    padding: 2rem;
    padding-bottom: 0;
}
.job-details .details  .basic-details p{
    color: black;
    padding-bottom: 2rem;
    font-size: 1.6rem;
}
.job-details .details ul{
    margin: 1rem 0;
}
.job-details .details ul li{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: black;
    margin-left: 3rem;
}
.job-details .details .description{
    margin-top: 1.5rem;  
}
.job-details .details .description p{
    font-size: 1.6rem;
    line-height: 1.8;
    padding: .5rem 0;
}
.job-details .details .save{
    background-color: beige;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 1.8rem; 
}
.job-details .details .save:hover{
    background-color:cadetblue;

}
.job-details .details .save i{
    margin-right: .5rem;
    color: black;
}
.job-details .details .save span{
    color: black;
}
.job-details .details .save:hover i{
    margin-right: .5rem;
    background-color: cadetblue;
}
.view-company .details{
    background-color: white;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}
.view-company .details .info{
    max-width: 30rem;
    margin: 0 auto;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 3rem 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.view-company .details .info img{
    height: 20rem;
    width: 20rem;
    object-fit: contain;
    margin-bottom: 1rem;
}
.view-company .details .info h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}
.view-company .details .info p {
    font-size: 1.6rem;
    color: #5f9ea0;
}
.view-company .details .description h3{
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
    text-transform: capitalize;
}
.view-company .details .description p{
    padding: .5rem 0;
    font-size: 1.6rem;
    line-height: 1.8;
}
.view-company .details ul li{
    margin-left: 3rem;
    font-size: 1.6rem;
    color: rgb(91, 84, 84);
    padding-top: 1.5rem;
}

/*contact*/
.contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.contact .box-container .box{
    background-color: white;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:3rem 2rem;
    text-align: center;
}
.contact .box-container .box i{
    height: 4.5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: white;
    background-color: black;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}
.contact .box-container .box a{
    display: block;
    padding-top: .5rem;
    font-size: 1.6rem;
    color: black;
}
.contact form{
    margin-top: 2rem;
    background-color: white;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
}

.contact form h3{
    font-size: 2.5rem;
    color: black;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.contact form .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}
.contact form .flex .box{
    flex: 1 1 40rem;
}
.contact form .input{
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    color: black;
    font-size: 1.8rem;
    background-color: beige;
    margin: 1rem 0;
}
.contact form p{
    text-align: left;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding-top: 1rem;
    color: black;
}
.contact form p span{
    color: red;
}
.contact form textarea{
    height: 15rem;
    resize: none;
}

/*Login*/

.account-form-container .account-form{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.account-form-container .account-form form{
    background-color: beige;
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
    text-align: center;
}
.account-form-container .account-form form h3{
    font-size: 2.5rem;
    color: black;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.account-form-container .account-form form .input{
    width: 100%;
    margin: 1rem 0;
    font-size: 1.8rem;
    padding: 1.4rem;
    background-color: white;
    border-radius: .5rem;
}
.account-form-container .account-form form p{
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: .9rem 0;
    color: black;
}
.account-form-container .account-form form p a {
    color: cadetblue;
}
.account-form-container .account-form form p a:hover{
    background-color: beige;
    text-decoration: underline;
}






















/*footer*/
.footer .grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.footer .grid .box h3{
    font-size: 2.5rem;
    color: black;
    margin: 1rem 0;
    padding-bottom: 1rem;
}
.footer .grid .box a{
    display: block;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    justify-content: center;
    text-decoration: none;
    color: rgb(46, 45, 45);
}

.footer .grid .box a i{
    color: cadetblue;
    margin-right: .8rem;
    transition: .2s linear;

}
.footer .grid .box a:hover i{
    margin-right: 2rem;
}
.footer .credit{
    text-align: center;
    padding: 3rem 2rem;
    border-top: var(--border);
    background-color: black;
    font-size: 2rem;
    color: beige;
}
.footer .credit span{
    color: cadetblue;
    text-transform: capitalize;
}


































































/* media queries*/

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .section-title{
        font-size: 5rem;
    }
}

@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        border-top: var(--border);
        background-color: rgb(255, 255, 255);
        padding: 1rem .5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        display: block;
        padding: 1.5rem 2rem;
    
    }
    .category .box-container{
        grid-template-columns: repeat(auto-fit, 18rem);
    }
    .category .box-container .box{
        flex-flow: column;
        text-align: center;
    }
    .category .box-container .box i{
        font-size: 3.5rem;
        margin-top: 1.5rem;
    }
    .section-title{
        font-size: 4rem;
        padding: 4rem 2rem;

    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
   }
   .section-title{
    font-size: 3rem;

   }
}