*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
   
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-m1{
    margin: 40px 0;
}

.section-p1{
    padding: 40px 80px;
}
body{
    width: 100%;
}

/*header start*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    box-shadow: 0 1px 10px rgb(68, 68, 68);
    background: darkgray;
    
}
.header .logo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.header .navbar #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.header .navbar li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
.header .navbar li a:hover{
    color:azure;
}
.header .navbar li a.active{
    color: white;
}
.header .navbar li a.active::after,
.header .navbar li a:hover::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 20px;
    height: 2px;
    width: 30%;
    background: white;
}
.header .navbar .bxs-shopping-bag{
    font-size: 1.5rem;
}

/*Home Page*/

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    background: rgb(250, 247, 247);
}
.home .home-slider .slide .content{
    flex: 5 5 30rem;
     
}

.home .home-slider .slide .img{
    flex: 5 5 30rem;
}
.home .home-slider .slide .img img{
    width: 27rem;
    height: 27rem;
}

.home .home-slider .slide .content h2{
    color:rgb(0, 183, 244);

}

.home .home-slider .slide .content h4{
    color: black;
 

}
.home .home-slider .slide .content p{
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
    text-transform:normal;
}
button{
    margin-top: .2rem;
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    background: black;
    border-radius: .1rem;
    cursor: pointer;
    padding: .5rem 3rem;
}
button:hover{
    background: gray;
    letter-spacing: .1rem;

}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(236, 236, 236);
    border: 1px solid white;
    border-radius: 4px;
    margin: 15px 0;    
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;

}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 244, 244);
}
#feature .fe-box:nth-child(2) h6{
    background-color: #ff918f;
}
#feature .fe-box:nth-child(3) h6 {
    background-color:#f6b93b ;
}
#feature .fe-box:nth-child(4) h6{
    background-color : #e6a0c3 ;
}
#feature .fe-box:nth-child(5) h6{
    background-color:rgb(255, 102, 102);
}
#feature .fe-box:nth-child(6) h6{
    background-color:rgb(255, 204, 0);
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 4fr));
    gap: 1rem;
    position: absolute;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(170, 170, 170);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .pro:hover{
    box-shadow: 0px 0px 20px rgb(170, 170, 170);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: gray;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: #ffac06;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-weight: 700;
    font-size: 15px;
    color: rgb(1, 43, 43);
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #eff8f7;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    border: 1px solid #eff8f7;
    

}
